# Server
PORT=3000
NODE_ENV=production

# Google Chat Bot
GOOGLE_PROJECT_ID=
GOOGLE_APPLICATION_CREDENTIALS=./serviceAccountKey.json

# Jira
JIRA_BASE_URL=https://hancom.atlassian.net
JIRA_API_TOKEN=
JIRA_USER_EMAIL=

# Gmail
GMAIL_PUBSUB_TOPIC=
GMAIL_PUBSUB_SUBSCRIPTION=

# Firebase / Firestore
FIREBASE_PROJECT_ID=
